<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <!-- Customer Information -->
        <div formGroupName="customer" class="form-area card mb-4">
          <div class="card-header">
            <h3>Customer Information</h3>
          </div>
          <div class="card-body">
            <div class="form-group row">
              <label for="firstName" class="col-md-2 col-form-label"
                >First Name</label
              >
              <div class="col-md-9">
                <input
                  formControlName="firstName"
                  id="firstName"
                  type="text"
                  class="form-control"
                />
                <div
                  *ngIf="
                    firstName.invalid && (firstName.dirty || firstName.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      firstName.errors.required ||
                      firstName.errors.notOnlyWhitespace
                    "
                  >
                    First Name is required
                  </div>
                  <div *ngIf="firstName.errors.minlength">
                    First Name must be at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lastName" class="col-md-2 col-form-label"
                >Last Name</label
              >
              <div class="col-md-9">
                <input
                  formControlName="lastName"
                  id="lastName"
                  type="text"
                  class="form-control"
                />
                <div
                  *ngIf="
                    lastName.invalid && (lastName.dirty || lastName.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      lastName.errors.required ||
                      lastName.errors.notOnlyWhitespace
                    "
                  >
                    Last Name is required
                  </div>
                  <div *ngIf="lastName.errors.minlength">
                    Last Name must be at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-md-2 col-form-label">Email</label>
              <div class="col-md-9">
                <input
                  formControlName="email"
                  id="email"
                  type="text"
                  class="form-control"
                />
                <div
                  *ngIf="email.invalid && (email.dirty || email.touched)"
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="email.errors.required">Email is required</div>
                  <div *ngIf="email.errors.pattern">
                    Email must be a valid email address format
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Shipping Address -->
        <div formGroupName="shippingAddress" class="form-area card mb-4">
          <div class="card-header">
            <h3>Shipping Address</h3>
          </div>
          <div class="card-body">
            <div class="form-group row">
              <label for="shippingCountry" class="col-md-2 col-form-label"
                >Country</label
              >
              <div class="col-md-9">
                <select
                  formControlName="country"
                  id="shippingCountry"
                  class="form-control"
                >
                  <option>Israel</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="shippingStreet" class="col-md-2 col-form-label"
                >Street</label
              >
              <div class="col-md-9">
                <input
                  formControlName="street"
                  id="shippingStreet"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="shippingCity" class="col-md-2 col-form-label"
                >City</label
              >
              <div class="col-md-9">
                <input
                  formControlName="city"
                  id="shippingCity"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="shippingState" class="col-md-2 col-form-label"
                >State</label
              >
              <div class="col-md-9">
                <select
                  formControlName="state"
                  id="shippingState"
                  class="form-control"
                >
                  <option>North</option>
                  <option>Central</option>
                  <option>Ha`sharon</option>
                  <option>South</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="shippingZipCode" class="col-md-2 col-form-label"
                >Zip Code</label
              >
              <div class="col-md-9">
                <input
                  formControlName="zipCode"
                  id="shippingZipCode"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Checkbox to copy shipping address to billing address -->
        <div class="form-check mb-4">
          <input
            type="checkbox"
            class="form-check-input"
            id="copyAddress"
            (change)="copyShippingToBilling($event)"
          />
          <label class="form-check-label" for="copyAddress">
            Billing Address same as Shipping Address
          </label>
        </div>

        <!-- Billing Address -->
        <div formGroupName="billingAddress" class="form-area card mb-4">
          <div class="card-header">
            <h3>Billing Address</h3>
          </div>
          <div class="card-body">
            <div class="form-group row">
              <label for="billingCountry" class="col-md-2 col-form-label"
                >Country</label
              >
              <div class="col-md-9">
                <select
                  formControlName="country"
                  id="billingCountry"
                  class="form-control"
                >
                  <option>Israel</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="billingStreet" class="col-md-2 col-form-label"
                >Street</label
              >
              <div class="col-md-9">
                <input
                  formControlName="street"
                  id="billingStreet"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="billingCity" class="col-md-2 col-form-label"
                >City</label
              >
              <div class="col-md-9">
                <input
                  formControlName="city"
                  id="billingCity"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="billingState" class="col-md-2 col-form-label"
                >State</label
              >
              <div class="col-md-9">
                <select
                  formControlName="state"
                  id="billingState"
                  class="form-control"
                >
                  <option>North</option>
                  <option>Central</option>
                  <option>Ha`sharon</option>
                  <option>South</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="billingZipCode" class="col-md-2 col-form-label"
                >Zip Code</label
              >
              <div class="col-md-9">
                <input
                  formControlName="zipCode"
                  id="billingZipCode"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Credit Card Information -->
        <div formGroupName="creditCard" class="form-area card mb-4">
          <div class="card-header">
            <h3>Credit Card Information</h3>
          </div>
          <div class="card-body">
            <div class="form-group row">
              <label for="cardType" class="col-md-2 col-form-label"
                >Card Type</label
              >
              <div class="col-md-9">
                <select
                  formControlName="cardType"
                  id="cardType"
                  class="form-control"
                >
                  <option>Visa</option>
                  <option>Mastercard</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="nameOnCard" class="col-md-2 col-form-label"
                >Name on Card</label
              >
              <div class="col-md-9">
                <input
                  formControlName="nameOnCard"
                  id="nameOnCard"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="cardNumber" class="col-md-2 col-form-label"
                >Card Number</label
              >
              <div class="col-md-9">
                <input
                  formControlName="cardNumber"
                  id="cardNumber"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="securityCode" class="col-md-2 col-form-label"
                >Security Code</label
              >
              <div class="col-md-9">
                <input
                  formControlName="securityCode"
                  id="securityCode"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="expirationMonth" class="col-md-2 col-form-label"
                >Expiration Month</label
              >
              <div class="col-md-9">
                <select
                  formControlName="expirationMonth"
                  id="expirationMonth"
                  class="form-control"
                >
                  <option *ngFor="let month of creditCardMonths">
                    {{ month }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="expirationYear" class="col-md-2 col-form-label"
                >Expiration Year</label
              >
              <div class="col-md-9">
                <select
                  formControlName="expirationYear"
                  id="expirationYear"
                  class="form-control"
                  (change)="handleMonthsAndYears()"
                >
                  <option *ngFor="let year of creditCardYears">
                    {{ year }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Order Summary -->
        <div class="form-area card mb-4">
          <div class="card-header">
            <h3>Review Your Order</h3>
          </div>
          <div class="card-body">
            <p><strong>Total Quantity:</strong> {{ totalQuantity }}</p>
            <p><strong>Shipping:</strong> FREE</p>
            <p>
              <strong>Total Price:</strong> {{ totalPrice | currency : "USD" }}
            </p>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-lg">Purchase</button>
        </div>
      </form>
    </div>
  </div>
</div>
